version: '3.8'

services:
  pull_request_service:
    container_name: pull_request_service
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${HTTP_PORT}:8081"
    depends_on:
      - postgres
    restart: always
    networks:
      - app-network

  postgres:
    image: postgres:15
    container_name: PullRequestsDB
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - app-network

  migrations:
    container_name: migrations
    build:
      context: .
      dockerfile: ./migrations/Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    restart: on-failure

networks:
  app-network:
    driver: bridge

volumes:
  pgdata: